.document {
    display: flex;
    border-radius: 10px;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    height: 144px;
    padding: 25px;
    background: rgba(0, 0, 0, 0.03);
    width: 100%;
}

.document:hover {
    background: rgba(156, 212, 255, 0.35);
}

.status {
    font-size: 20px;
}

.contextMenuIcon {
    cursor: pointer;
    position: relative;
}

.contextMenuIcon:hover {
    .contextMenu {
        display: flex;
    }
}

.contextMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    gap: 4px;
    width: 100px;
    left: -40px;

    button {
        width: 100px;
    }
}

.link {
    color: inherit;
    text-decoration: none;
}

.container {
    display: flex;
    gap: 20px;
    align-items: center;

    h3 {
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        width: 900px;
        height: 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #1e1e1e;
    }

    p {
        font-weight: 400;
        font-size: 27px;
        line-height: 32px;
        span {
            color: #fd841f;
        }
    }
}
