.container {
    display: flex;
    flex-direction: column;
    width: 648px;
    color: #fff;

    h1 {
        text-align: center;
        font-weight: 400;
        font-size: 60px;
        line-height: 70px;
    }

    p {
        font-weight: 400;
        font-size: 40px;
        line-height: 47px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px 0;
}

.registrationButton {
    font-size: 40px;
    font-weight: 700;
}

.button {
    margin-top: 10px;
    font-size: 27px;
    font-weight: 400;
}
